@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap');

body {
  background-color: #ddc0c0;
  color: #273746;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
}

.config {
  background-color: #550e02;
  color: #690c73;
  width: 80%;
}

.box {
  text-align: center;
  background-color: #dfc2ff;
  color: #640c0c;
}

.centralizado {
  text-align: center;
}

.tamanho {
  font-size: 24px;
}

.margem {
  margin: 80px;
}

.preenchimento {
  margin: 0;
  padding: 80px;
}

.borda {
  margin: 0;
  border: 20px solid #800080;
}

a {
  text-decoration: none;
  padding: 7px;
  border-radius: 2.5px;
}

a:hover {
  color: #BE9AE6;
  background-color: #412461;
}